label {
  margin-top: 10px;
}
.submit-button {
  margin-top: 25px;
  outline: none;
  border: 2px solid var(--green-color);
  background: none;
  padding: 10px;
  width: 240px;
  border-radius: 35px;
  transition: 0.3s;
}
.submit-button:hover {
  background: var(--green-color);
  color: white;
}