/* poppins font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
--poppins-font:'Poppins', sans-serif;
--grey-color: #e5e5e5;
--green-color: #77ca7b;
}
body {
  font-family: var(--poppins-font) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
