input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
input,
select {
  padding: 10px 15px;
  border-radius: 35px;
  margin-top: 20px !important;
  margin-right: 15px !important;
  width: 240px;
  border: 2px solid var(--grey-color);
  outline: none;
  transition: 0.3s;
}
input:hover,
input:focus,
input:active,
select:hover,
select:active,
select:focus {
  border: 2px solid var(--green-color);
}
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: white;
  background-image: url(https://img.icons8.com/external-those-icons-fill-those-icons/24/000000/external-down-arrows-those-icons-fill-those-icons-7.png);
  background-repeat: no-repeat;
  background-position: right 15px top 50%;
  background-size: 11px;
  margin-right: 25px !important;
}
